# American Community Survey 2015-5yr Estimates 

In order to relate and compare to the hotspot data, we have the American Community Survey (ACS) data, 5yr estimates for 2015. Our hot spot data is covering 2014-2019, so the 5yr estimate covers that range nicely. Moreover, the individual year ACS data did not have zipcode level data. 

This subset of the ACS report describes the percentages of the population with a certain income level. This data will enrich our hotspot analysis to illuminate insights about recent solar panel adoption and income.

## Data Cleaning

In [24]:
## IMPORTS
import numpy as np
import pandas as pd
import arcpy 
import re
arcpy.env.workspace = "C:/Users/Perso/Desktop/Tulane U/Junior Year/Semester 6/EENS 4030- Advanced GIS/FINAL PROJECT/Dataset"
%cd "C:/Users/Perso/Desktop/Tulane U/Junior Year/Semester 6/EENS 4030- Advanced GIS/FINAL PROJECT/Dataset/ACS"

C:\Users\Perso\Desktop\Tulane U\Junior Year\Semester 6\EENS 4030- Advanced GIS\FINAL PROJECT\Dataset\ACS

In [25]:
acs2015 = pd.read_csv("ACS-2015-5yr-Column-wise.csv", header= 1)

acs2015.head(5)

        Geography  ... Unnamed: 258
0  8600000US89010  ...          NaN
1  8600000US89019  ...          NaN
2  8600000US89060  ...          NaN
3  8600000US89061  ...          NaN
4  8600000US89439  ...          NaN

[5 rows x 259 columns]

#### Delete all margins of error & annotations

In [26]:
drops = ['Margin',
'Annotation',
'PERCENT IMPUTED']

for word in drops:
    acs2015 = acs2015[acs2015.columns.drop(list(acs2015.filter(regex= word)))]
    

acs2015.head(5)

        Geography  ... Unnamed: 258
0  8600000US89010  ...          NaN
1  8600000US89019  ...          NaN
2  8600000US89060  ...          NaN
3  8600000US89061  ...          NaN
4  8600000US89439  ...          NaN

[5 rows x 55 columns]

Make the zipcode into an integer

In [27]:
acs2015["Geographic Area Name"] = acs2015["Geographic Area Name"].apply(lambda x: int(re.sub("ZCTA5", "", x)))

### Simplification of Income Brackets & Households

For the purpose of simplifying income brackets for analysis, I choose to create three primary income brackets: 
* High Income (100k ->)
* Middle Income (50k -> 100k)
* Low Income (0k -> 50k)

I also decided to only look at households.

In [28]:
geos = acs2015.loc[:, ('Geography', 'Geographic Area Name')]

## Filter out non-households
acs2015_filtered = acs2015.filter(regex= 'Households')

acs2015_filtered.head(5)

   Households!!Estimate!!Total  ... Households!!Estimate!!Mean income (dollars)
0                          252  ...                                       46479
1                          861  ...                                       50325
2                         4011  ...                                       47436
3                         2214  ...                                       69133
4                          724  ...                                      149584

[5 rows x 13 columns]

In [29]:
## Renaming the households label

acs2015_filtered.columns = list(map(lambda x: x.replace("Households!!Estimate!!", ''), acs2015_filtered.columns))
acs2015_filtered.head(5)

   Total Less than $10,000  ... Median income (dollars) Mean income (dollars)
0    252              11.1  ...                   35625                 46479
1    861               0.0  ...                   38134                 50325
2   4011               4.7  ...                   40700                 47436
3   2214               3.2  ...                   54708                 69133
4    724               3.9  ...                   57500                149584

[5 rows x 13 columns]

In [30]:
## Notice non-numerical values (X), N, and '-'

display(acs2015_filtered.iloc[358])
display(acs2015_filtered.iloc[66])

Total                       144
Less than $10,000          46.5
$10,000 to $14,999          0.0
$15,000 to $24,999          0.0
$25,000 to $34,999          0.0
$35,000 to $49,999         18.8
$50,000 to $74,999         34.7
$75,000 to $99,999          0.0
$100,000 to $149,999        0.0
$150,000 to $199,999        0.0
$200,000 or more            0.0
Median income (dollars)     (X)
Mean income (dollars)         N
Name: 358, dtype: object

Total                      0
Less than $10,000          -
$10,000 to $14,999         -
$15,000 to $24,999         -
$25,000 to $34,999         -
$35,000 to $49,999         -
$50,000 to $74,999         -
$75,000 to $99,999         -
$100,000 to $149,999       -
$150,000 to $199,999       -
$200,000 or more           -
Median income (dollars)    -
Mean income (dollars)      -
Name: 66, dtype: object

#### Filtering out the non-numerical data
From the file metadata:

Explanation of Symbols:<ol><li>An ''**'' entry in the margin of error column indicates that either no sample observations or too few sample observations were available to compute a standard error and thus the margin of error. A statistical test is not appropriate.</li>
<li>An ''-'' entry in the estimate column indicates that either no sample observations or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest interval or upper interval of an open-ended distribution.</li>
<li>An ''-'' following a median estimate means the median falls in the lowest interval of an open-ended distribution.</li>
<li>An ''+'' following a median estimate means the median falls in the upper interval of an open-ended distribution.</li>
<li>An ''***'' entry in the margin of error column indicates that the median falls in the lowest interval or upper interval of an open-ended distribution. A statistical test is not appropriate.</li>
<li>An ''*****'' entry in the margin of error column indicates that the estimate is controlled. A statistical test for sampling variability is not appropriate. </li>
<li>An ''N'' entry in the estimate and margin of error columns indicates that data for this geographic area cannot be displayed because the number of sample cases is too small.</li>
<li>An ''(X)'' means that the estimate is not applicable or not available.</li></ol><br /><br />

In [31]:
## pd.eval evaluates the expression along all axes of the df.
## DataFrame.any check that any values in the row is true.
## DataFrame.mask assigns NaN values to rows which are True (assigned True from the eval/any)
## DataFrame.dropna drops any rows with NaN values

symbols= ['**','-','+','***', '*****', 'N', '(X)']

for letter in symbols:
    acs2015_filtered = acs2015_filtered.mask(pd.eval("acs2015_filtered == letter").any(axis=1)).dropna()


acs2015_filtered

        Total Less than $10,000  ... Median income (dollars) Mean income (dollars)
0       252.0              11.1  ...                   35625                 46479
1       861.0               0.0  ...                   38134                 50325
2      4011.0               4.7  ...                   40700                 47436
3      2214.0               3.2  ...                   54708                 69133
4       724.0               3.9  ...                   57500                149584
...       ...               ...  ...                     ...                   ...
1763    386.0               3.4  ...                   51964                 70068
1764    272.0              11.8  ...                   41875                 59204
1765  11282.0               5.8  ...                   49293                 65812
1767   7207.0               3.5  ...                   78206                106428
1768    155.0               0.0  ...                   35592                 38710

[1646 rows x 13 columns]

In [32]:
## Now we should only have numerical strings.
## So, we can now convert them to floats.
for col in acs2015_filtered.columns:
    acs2015_filtered[col] = pd.to_numeric(acs2015_filtered[col], errors= 'ignore')

acs2015_filtered.dtypes

Total                      float64
Less than $10,000          float64
$10,000 to $14,999         float64
$15,000 to $24,999         float64
$25,000 to $34,999         float64
$35,000 to $49,999         float64
$50,000 to $74,999         float64
$75,000 to $99,999         float64
$100,000 to $149,999       float64
$150,000 to $199,999       float64
$200,000 or more           float64
Median income (dollars)     object
Mean income (dollars)        int64
dtype: object

In [33]:
acs2015_filtered.iloc[1630]

Total                          62.0
Less than $10,000               0.0
$10,000 to $14,999              0.0
$15,000 to $24,999              0.0
$25,000 to $34,999              0.0
$35,000 to $49,999             17.7
$50,000 to $74,999              0.0
$75,000 to $99,999              0.0
$100,000 to $149,999           11.3
$150,000 to $199,999            0.0
$200,000 or more               71.0
Median income (dollars)    250,000+
Mean income (dollars)        206594
Name: 1750, dtype: object

In [34]:
acs2015_filtered['Geography'] = geos['Geography']
acs2015_filtered['Geographic Area Name'] = geos['Geographic Area Name']

acs2015_filtered

        Total  Less than $10,000  ...       Geography  Geographic Area Name
0       252.0               11.1  ...  8600000US89010                 89010
1       861.0                0.0  ...  8600000US89019                 89019
2      4011.0                4.7  ...  8600000US89060                 89060
3      2214.0                3.2  ...  8600000US89061                 89061
4       724.0                3.9  ...  8600000US89439                 89439
...       ...                ...  ...             ...                   ...
1763    386.0                3.4  ...  8600000US96146                 96146
1764    272.0               11.8  ...  8600000US96148                 96148
1765  11282.0                5.8  ...  8600000US96150                 96150
1767   7207.0                3.5  ...  8600000US96161                 96161
1768    155.0                0.0  ...  8600000US97635                 97635

[1646 rows x 15 columns]

#### Merging income brackets
For the purpose of simplifying income brackets for analysis, the three primary income brackets: 
* High Income (100k ->)
* Middle Income (35k -> 100k)
* Low Income (0k -> 35k)

In [35]:
high_income = ['$100,000 to $149,999', '$150,000 to $199,999', '$200,000 or more']

middle_income = ['$35,000 to $49,999', '$50,000 to $74,999', '$75,000 to $99,999']

low_income = ['Less than $10,000', '$10,000 to $14,999', '$15,000 to $24,999',
              '$25,000 to $34,999' ]

In [43]:
## Using the ArcGIS field calculator
acs2015_filtered["Low income"] = pd.eval("acs2015_filtered[low_income[0]] + acs2015_filtered[low_income[1]] + acs2015_filtered[low_income[2]]+ acs2015_filtered[low_income[3]] ", engine= 'python')
acs2015_filtered["Middle income"] =  pd.eval("acs2015_filtered[middle_income[0]] + acs2015_filtered[middle_income[1]] + acs2015_filtered[middle_income[2]]", engine= 'python')
acs2015_filtered["High income"] = pd.eval("acs2015_filtered[high_income[0]] + acs2015_filtered[high_income[1]] + acs2015_filtered[high_income[2]]", engine= 'python')

#### Verify & Export

In [44]:
## Verify that the values are approximately 100%.
## There will always be a small amount of +- due to conversions and floats etc.

pd.eval("acs2015_filtered['Low income'] + acs2015_filtered['Middle income'] + acs2015_filtered['High income']", engine= 'python').describe()

## I'm happy with the bounds 99.7 - 100.3

count    1646.000000
mean      100.000243
std         0.090456
min        99.700000
25%        99.900000
50%       100.000000
75%       100.100000
max       100.300000
dtype: float64

In [45]:
## Final Visual Check
acs2015_filtered

        Total  Less than $10,000  ...  Middle income  High income
0       252.0               11.1  ...           38.6         12.3
1       861.0                0.0  ...           46.1         12.0
2      4011.0                4.7  ...           49.0          8.3
3      2214.0                3.2  ...           49.5         22.4
4       724.0                3.9  ...           43.1         30.3
...       ...                ...  ...            ...          ...
1763    386.0                3.4  ...           44.0         19.7
1764    272.0               11.8  ...           52.3         18.8
1765  11282.0                5.8  ...           40.9         20.7
1767   7207.0                3.5  ...           46.3         35.3
1768    155.0                0.0  ...           52.9          0.0

[1646 rows x 18 columns]

In [47]:
acs2015_filtered.to_csv("ACS-2015-5yr-Filtered1.csv")

#### Now onto the joining!